.Container{
  width: 50rem;
  max-width: 95%;
  margin: 2rem auto;
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: rgb(31, 31, 31);
  border-radius: 12px;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Container h2{
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.inputArea{
  color: white;
  gap: 2;
}
.inputArea label{
  font-weight: bold;
}